# Cloudinary configuration for client-side uploads
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=unsigned_preset

# Database configuration
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
